<div style="padding:50px;">
  <h1 style="text-align: center;">SIMACOGO</h1>
</div>
<div id="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f.value , $event)"  class="ui form">
    <div class="rowValue">
      <label for="rowInput">Row Value:</label>
      <input type="text" id="rowInput" placeholder="1" name="rowValue" ngModel>
      <button type="submit" class="ui button">Submit</button>
    </div>
  </form>

  <div *ngFor="let r of rows; let i = index">
    <div class="row">{{r}}</div>
  </div>
  <div *ngFor="let b of board; let i = index">
    <div class="square" id="square-{{i}}"*ngIf="i==0">
      <div [style.color]="b.getColor()">{{b.getValue()}}</div>
    </div>
    <div class="square" id="square-{{i}}"*ngIf="i%(boardSize-1)==0 && i!=0">
      <div [style.color]="b.getColor()">{{b.getValue()}}</div>
    </div>
    <div   class="square" id="square-{{i}}" *ngIf="i%(boardSize-1)!=0">
      <div [style.color]="b.getColor()">{{b.getValue()}}</div>
    </div>
  </div>
</div>

<div id="modal-container">

</div>

<div id="score">
  <div class="center-div">
    <div id="player1-score"><b>MAX [O]: </b>{{ player1Score}}</div>
    <div id="player2-score"><b>MIN [X]: </b>{{ player2Score }}</div>
    <div id="ply"><b>Ply: {{ ply }}</b></div>
  </div>
</div>
